* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "worksans";
  src: url(./WorkSans-VariableFont_wght.ttf) format("truetype");
}

.head {
  background-image: url(./1.jpg);
  height: 45%;
}


.main{
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content{
  width: 22%;
  height: max-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 18px 34px -25px rgba(0,0,0,0.75);
  margin: 0 0 3% 0;
}

.content > img{
  width: 100%;
}
.summary{
  font-family: "worksans";
  display: flex;
  flex-direction: column;
  padding: 10% 15% 0 15%;
}
.summary > .date{
  font-size: x-small;
}
.summary > .date{
  color: gray;
}
.summary>.title{
  margin: 0;
}
.summary>.description{
  font-size: small;
  color: gray;
}
.separator{
  display: flex;
  align-items: center;
  padding-right: 10%;
}
.separator > .comments{
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 100px;
}
.comments{
  color: gray;
  margin-left: 5%;
}
.separator > .line{
  flex-grow: 1;
  height: 3px;
  background-color: #f7f7f7;
}
.tags{
  padding: 0 0 0 15%;
  font-family: "worksans";
  font-size: small;
  color: gray;
  margin: 0 0 10% 0;
}