* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "worksans";
  src: url(./WorkSans-VariableFont_wght.ttf) format("truetype");
}

/* head section */
.head {
  background-image: url(./1.jpg);
  font-family: "worksans";
  height: 50%;
  display: flex;
  flex-direction: column;
  padding: 2% 6% 0 6%;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 10%;
}
.nav-left {
  width: 20%;
}
.nav-left > img {
  width: 100px;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  width: 65%;
  margin: 0 auto 0 0;
}
.nav-right > .nav-items {
  display: flex;
  width: max-content;
}
.nav-right > .nav-items > span {
  color: white;
  font-family: "worksans";
  cursor: pointer;
  margin: 0 0 0 7%;
}
.nav-right > .nav-icons {
  display: flex;
  width: max-content;
  margin: 0 0 0 15%;
}
.nav-right > .nav-icons > i {
  color: white;
  font-size: 1.25rem;
  margin: 0 0 0 35%;
  cursor: pointer;
}
.title {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title > h1 {
  font-family: "worksans";
}
.title > h1,
.title > p {
  color: white;
}

/* main section */
.main {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* content section */
.content {
  width: 22%;
  height: max-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 18px 34px -25px rgba(0, 0, 0, 0.75);
  margin: 0 0 3% 0;
}

.content > img {
  width: 100%;
}
.summary {
  font-family: "worksans";
  display: flex;
  flex-direction: column;
  padding: 10% 15% 0 15%;
}
.summary > .date {
  font-size: x-small;
}
.summary > .date {
  color: gray;
}
.summary > .title {
  margin: 0;
}
.summary > .description {
  font-size: small;
  color: gray;
}
.separator {
  display: flex;
  align-items: center;
  padding-right: 10%;
}
.separator > .comments {
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 100px;
}
.comments {
  color: gray;
  margin-left: 5%;
}
.separator > .line {
  flex-grow: 1;
  height: 3px;
  background-color: #f7f7f7;
}
.tags {
  padding: 0 0 0 15%;
  font-family: "worksans";
  font-size: small;
  color: gray;
  margin: 0 0 10% 0;
}

/* desktop - layout */
@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .nav-right > .nav-items {
    margin: 0 5% 0 0;
  }
}

/* laptop - layout */
@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .nav-right {
    margin: 0 10% 0 0;
  }
  .nav-right > .nav-icons {
    margin: 0 0 0 25%;
  }
}

/* Tablet - layout */
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .head {
    padding: 10% 0 0 0;
  }
  .nav-left {
    margin: 0 auto 0 auto;
    width: max-content;
  }
  .nav-right {
    display: none;
  }
  .content {
    width: 49%;
    margin: 0 0 5% 0;
  }
}

/* Mobile - layout */
@media screen and (max-width: 599px) and (min-width: 280px) {
  .head {
    padding: 10% 0 0 0;
  }
  .nav-left {
    margin: auto;
    width: max-content;
  }
  .nav-right {
    display: none;
  }
  .content {
    width: 98%;
    margin: 0 0 8% 0;
  }
}
